.root {
    font-family: "Inter", "Segoe UI", "Roboto", "Arial", sans-serif;
    -fx-font-family: "Inter", "Segoe UI", "Roboto", "Arial", sans-serif;
    background-color: transparent;
    -fx-background-color: transparent;


    -fx-background-radius: 8px;
    border-radius: 8px;
    -fx-border-radius: 8px;
}

.right-pane {
    background-color: #FFFFFF;
    -fx-background-color: #FFFFFF;

    border-color: #8023D7;
    -fx-border-color: #8023D7;
    border-width: 1px;
    -fx-border-width: 1px;

    -fx-background-radius: 0px 8px 8px 0px;
    border-radius: 0px 8px 8px 0px;
    -fx-border-radius: 0px 8px 8px 0px;
}

.left-pane {
    background-color: #8023D7;
    -fx-background-color: #8023D7;
    -fx-background-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
    -fx-border-radius: 8px 0 0 8px;
}

.text-field,
.password-field {
    font-size: 12px;
    -fx-font-size: 12px;
    -fx-prompt-text-fill: #BCBCBC;
    background-color: #FBFBFB;
    -fx-background-color: #FBFBFB;
    border-color: #8023D71A;
    -fx-border-color: #8023D71A;
    border-width: 1px;
    -fx-border-width: 1px;
    border-radius: 8px;
    -fx-border-radius: 8px;
    padding: 10px;
    -fx-padding: 10px;
    width: 308px;
    -fx-pref-width: 308px;
    min-width: 308px;
    -fx-min-width: 308px;
    max-width: 308px;
    -fx-max-width: 308px;
}

.text-field:focused,
.password-field:focused {
    border-color: #8023D7;
    -fx-border-color: #8023D7;
    border-width: 1px;
    -fx-border-width: 1px;
}

/* Button styles */
.btn {
    font-size: 12px;
    -fx-font-size: 12px;
    padding: 10px 20px;
    -fx-padding: 10px 20px;
    border-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    width: 308px;
    -fx-pref-width: 308px;
    min-width: 308px;
    -fx-min-width: 308px;
    max-width: 308px;
    -fx-max-width: 308px;
}

.primary {
    background-color: #8023D7;
    -fx-background-color: #8023D7;
    color: #fff;
    -fx-text-fill: #fff;
    border-color: #8023D7;
    -fx-border-color: #8023D7;
    border-width: 1px;
    -fx-border-width: 1px;
}


.primary:hover {
    background-color: #fff;
    -fx-background-color: #fff;
    color: #8023D7;
    -fx-text-fill: #8023D7;
    border-color: #8023D7;
    -fx-border-color: #8023D7;
    border-width: 1px;
    -fx-border-width: 1px;
    cursor: pointer;
    -fx-cursor: hand;
}

.cancel {
    background-color: #fff;
    -fx-background-color: #fff;
    color: #FF4D4D;
    -fx-text-fill: #FF4D4D;
    border-color: #FF4D4D;
    -fx-border-color: #FF4D4D;
    border-width: 1px;
    -fx-border-width: 1px;
    font-size: 12px;
    -fx-font-size: 12px;
    padding: 10px 20px;
    -fx-padding: 10px 20px;
    border-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    width: 308px;
    -fx-pref-width: 308px;
    min-width: 308px;
    -fx-min-width: 308px;
    max-width: 308px;
    -fx-max-width: 308px;
}

.cancel:hover {
    background-color: #FF4D4D;
    -fx-background-color: #FF4D4D;
    color: #fff;
    -fx-text-fill: #fff;
    border-color: #FF4D4D;
    -fx-border-color: #FF4D4D;
    border-width: 1px;
    -fx-border-width: 1px;
    cursor: pointer;
    -fx-cursor: hand;
}

/* Text styles */
.title {
    font-size: 32px !important;
    -fx-font-size: 32px !important;
    font-weight: 700 !important;
    -fx-font-weight: bold !important;
    color: #8023D7 !important;
    -fx-text-fill: #8023D7 !important;

    margin: 0;
    -fx-margin: 0;
    padding: 0;
    -fx-padding: 0;
}

.subtitle {
    font-size: 16px;
    -fx-font-size: 16px;
    font-weight: 500;
    -fx-font-weight: 500;
    color: #00000080;
    -fx-text-fill: #00000080;

    width: 308px;
    -fx-pref-width: 308px;
    min-width: 308px;
    -fx-min-width: 308px;
    max-width: 308px;
    -fx-max-width: 308px;

    margin: 0;
    -fx-margin: 0;
    padding: 0;
    -fx-padding: 0;
}

.lbl {
    font-size: 12px;
    -fx-font-size: 12px;
    color: #000000;
    -fx-text-fill: #000000;

    margin: 0;
    -fx-margin: 0;
    padding: 0;
    -fx-padding: 0;
}

/* Close button styles */
#closeButton {
    cursor: pointer;
    -fx-cursor: hand;
}

#closeButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

/* Don't have an account? Register */
.link {
    -fx-text-fill: #8023D7;
    -fx-font-weight: bold;
    font-weight: bold;

    margin: 0;
    -fx-margin: 0;
    padding: 0;
    -fx-padding: 0;
}

.link:hover {
    -fx-underline: true;
    cursor: pointer;
    -fx-cursor: hand;
    -fx-text-fill: #6B1CB0;
}